<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ddwx.cl.dao.SchoolMapper" >
  <resultMap id="BaseResultMap" type="com.ddwx.cl.model.School" >
    <id column="SCHOOL_ID" property="schoolId" jdbcType="BIGINT" />
    <result column="SCHOOL_NAME" property="schoolName" jdbcType="VARCHAR" />
    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
    <result column="TELEPHONE" property="telephone" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="CTIME" property="ctime" jdbcType="BIGINT" />
    <result column="UTIME" property="utime" jdbcType="BIGINT" />
    <result column="SUPERIOR_ID" property="superiorId" jdbcType="BIGINT" />
    <result column="AGENT_ID" property="agentId" jdbcType="BIGINT" />
    <result column="ROLE_ID" property="roleId" jdbcType="INTEGER" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="TINYINT" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="SCHOOL_LEADER_ID" property="schoolLeaderId" jdbcType="BIGINT" />
    <result column="SCHOOL_LEADER" property="schoolLeader" jdbcType="VARCHAR" />
    <result column="SCHOOL_TYPE" property="schoolType" jdbcType="TINYINT" />
    <result column="PROVINCE" property="province" jdbcType="BIGINT" />
    <result column="CITY" property="city" jdbcType="BIGINT" />
    <result column="DISTRICT" property="district" jdbcType="BIGINT" />
    <result column="VIEW_PRICE" property="viewPrice" jdbcType="DECIMAL" />
    <result column="ATTENDANCE_PRICE" property="attendancePrice" jdbcType="DECIMAL" />
    <result column="VIEW_BALANCE" property="viewBalance" jdbcType="INTEGER" />
    <result column="ATTENDANCE_BALANCE" property="attendanceBalance" jdbcType="INTEGER" />
    <result column="RECIPE_TYPE" property="recipeType" jdbcType="TINYINT" />
    <result column="VIDEO_TYPE" property="videoType" jdbcType="TINYINT" />
    <result column="PROBATION" property="probation" jdbcType="TINYINT" />
    <result column="PAY_TYPE" property="payType" jdbcType="TINYINT" />
    <result column="COURSE_TYPE" property="courseType" jdbcType="TINYINT" />
    <result column="ONLINE_TYPE" property="onlineType" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    SCHOOL_ID, SCHOOL_NAME, MOBILE, TELEPHONE, EMAIL, CTIME, UTIME, SUPERIOR_ID, AGENT_ID, 
    ROLE_ID, ADDRESS, STATUS, REMARK, SCHOOL_LEADER_ID, SCHOOL_LEADER, SCHOOL_TYPE, PROVINCE, 
    CITY, DISTRICT, VIEW_PRICE, ATTENDANCE_PRICE, VIEW_BALANCE, ATTENDANCE_BALANCE, RECIPE_TYPE, 
    VIDEO_TYPE, PROBATION, PAY_TYPE, COURSE_TYPE,ONLINE_TYPE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from school
    where SCHOOL_ID = #{schoolId,jdbcType=BIGINT}
  </select>
  <select id="selectAllSchool" resultMap="BaseResultMap" >
    select
    *
    from school

  </select>





  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from school
    where SCHOOL_ID = #{schoolId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ddwx.cl.model.School" >
    insert into school (SCHOOL_ID, SCHOOL_NAME, MOBILE, 
      TELEPHONE, EMAIL, CTIME, 
      UTIME, SUPERIOR_ID, AGENT_ID, 
      ROLE_ID, ADDRESS, STATUS, 
      REMARK, SCHOOL_LEADER_ID, SCHOOL_LEADER, 
      SCHOOL_TYPE, PROVINCE, CITY, 
      DISTRICT, VIEW_PRICE, ATTENDANCE_PRICE, 
      VIEW_BALANCE, ATTENDANCE_BALANCE, RECIPE_TYPE, 
      VIDEO_TYPE, PROBATION, PAY_TYPE, 
      COURSE_TYPE)
    values (#{schoolId,jdbcType=BIGINT}, #{schoolName,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{ctime,jdbcType=BIGINT}, 
      #{utime,jdbcType=BIGINT}, #{superiorId,jdbcType=BIGINT}, #{agentId,jdbcType=BIGINT}, 
      #{roleId,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{remark,jdbcType=VARCHAR}, #{schoolLeaderId,jdbcType=BIGINT}, #{schoolLeader,jdbcType=VARCHAR}, 
      #{schoolType,jdbcType=TINYINT}, #{province,jdbcType=BIGINT}, #{city,jdbcType=BIGINT}, 
      #{district,jdbcType=BIGINT}, #{viewPrice,jdbcType=DECIMAL}, #{attendancePrice,jdbcType=DECIMAL}, 
      #{viewBalance,jdbcType=INTEGER}, #{attendanceBalance,jdbcType=INTEGER}, #{recipeType,jdbcType=TINYINT}, 
      #{videoType,jdbcType=TINYINT}, #{probation,jdbcType=TINYINT}, #{payType,jdbcType=TINYINT}, 
      #{courseType,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ddwx.cl.model.School" >
    insert into school
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="schoolId != null" >
        SCHOOL_ID,
      </if>
      <if test="schoolName != null" >
        SCHOOL_NAME,
      </if>
      <if test="mobile != null" >
        MOBILE,
      </if>
      <if test="telephone != null" >
        TELEPHONE,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="ctime != null" >
        CTIME,
      </if>
      <if test="utime != null" >
        UTIME,
      </if>
      <if test="superiorId != null" >
        SUPERIOR_ID,
      </if>
      <if test="agentId != null" >
        AGENT_ID,
      </if>
      <if test="roleId != null" >
        ROLE_ID,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="schoolLeaderId != null" >
        SCHOOL_LEADER_ID,
      </if>
      <if test="schoolLeader != null" >
        SCHOOL_LEADER,
      </if>
      <if test="schoolType != null" >
        SCHOOL_TYPE,
      </if>
      <if test="province != null" >
        PROVINCE,
      </if>
      <if test="city != null" >
        CITY,
      </if>
      <if test="district != null" >
        DISTRICT,
      </if>
      <if test="viewPrice != null" >
        VIEW_PRICE,
      </if>
      <if test="attendancePrice != null" >
        ATTENDANCE_PRICE,
      </if>
      <if test="viewBalance != null" >
        VIEW_BALANCE,
      </if>
      <if test="attendanceBalance != null" >
        ATTENDANCE_BALANCE,
      </if>
      <if test="recipeType != null" >
        RECIPE_TYPE,
      </if>
      <if test="videoType != null" >
        VIDEO_TYPE,
      </if>
      <if test="probation != null" >
        PROBATION,
      </if>
      <if test="payType != null" >
        PAY_TYPE,
      </if>
      <if test="courseType != null" >
        COURSE_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="schoolId != null" >
        #{schoolId,jdbcType=BIGINT},
      </if>
      <if test="schoolName != null" >
        #{schoolName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=BIGINT},
      </if>
      <if test="utime != null" >
        #{utime,jdbcType=BIGINT},
      </if>
      <if test="superiorId != null" >
        #{superiorId,jdbcType=BIGINT},
      </if>
      <if test="agentId != null" >
        #{agentId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="schoolLeaderId != null" >
        #{schoolLeaderId,jdbcType=BIGINT},
      </if>
      <if test="schoolLeader != null" >
        #{schoolLeader,jdbcType=VARCHAR},
      </if>
      <if test="schoolType != null" >
        #{schoolType,jdbcType=TINYINT},
      </if>
      <if test="province != null" >
        #{province,jdbcType=BIGINT},
      </if>
      <if test="city != null" >
        #{city,jdbcType=BIGINT},
      </if>
      <if test="district != null" >
        #{district,jdbcType=BIGINT},
      </if>
      <if test="viewPrice != null" >
        #{viewPrice,jdbcType=DECIMAL},
      </if>
      <if test="attendancePrice != null" >
        #{attendancePrice,jdbcType=DECIMAL},
      </if>
      <if test="viewBalance != null" >
        #{viewBalance,jdbcType=INTEGER},
      </if>
      <if test="attendanceBalance != null" >
        #{attendanceBalance,jdbcType=INTEGER},
      </if>
      <if test="recipeType != null" >
        #{recipeType,jdbcType=TINYINT},
      </if>
      <if test="videoType != null" >
        #{videoType,jdbcType=TINYINT},
      </if>
      <if test="probation != null" >
        #{probation,jdbcType=TINYINT},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=TINYINT},
      </if>
      <if test="courseType != null" >
        #{courseType,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ddwx.cl.model.School" >
    update school
    <set >
      <if test="schoolName != null" >
        SCHOOL_NAME = #{schoolName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        TELEPHONE = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        CTIME = #{ctime,jdbcType=BIGINT},
      </if>
      <if test="utime != null" >
        UTIME = #{utime,jdbcType=BIGINT},
      </if>
      <if test="superiorId != null" >
        SUPERIOR_ID = #{superiorId,jdbcType=BIGINT},
      </if>
      <if test="agentId != null" >
        AGENT_ID = #{agentId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null" >
        ROLE_ID = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="schoolLeaderId != null" >
        SCHOOL_LEADER_ID = #{schoolLeaderId,jdbcType=BIGINT},
      </if>
      <if test="schoolLeader != null" >
        SCHOOL_LEADER = #{schoolLeader,jdbcType=VARCHAR},
      </if>
      <if test="schoolType != null" >
        SCHOOL_TYPE = #{schoolType,jdbcType=TINYINT},
      </if>
      <if test="province != null" >
        PROVINCE = #{province,jdbcType=BIGINT},
      </if>
      <if test="city != null" >
        CITY = #{city,jdbcType=BIGINT},
      </if>
      <if test="district != null" >
        DISTRICT = #{district,jdbcType=BIGINT},
      </if>
      <if test="viewPrice != null" >
        VIEW_PRICE = #{viewPrice,jdbcType=DECIMAL},
      </if>
      <if test="attendancePrice != null" >
        ATTENDANCE_PRICE = #{attendancePrice,jdbcType=DECIMAL},
      </if>
      <if test="viewBalance != null" >
        VIEW_BALANCE = #{viewBalance,jdbcType=INTEGER},
      </if>
      <if test="attendanceBalance != null" >
        ATTENDANCE_BALANCE = #{attendanceBalance,jdbcType=INTEGER},
      </if>
      <if test="recipeType != null" >
        RECIPE_TYPE = #{recipeType,jdbcType=TINYINT},
      </if>
      <if test="videoType != null" >
        VIDEO_TYPE = #{videoType,jdbcType=TINYINT},
      </if>
      <if test="probation != null" >
        PROBATION = #{probation,jdbcType=TINYINT},
      </if>
      <if test="payType != null" >
        PAY_TYPE = #{payType,jdbcType=TINYINT},
      </if>
      <if test="courseType != null" >
        COURSE_TYPE = #{courseType,jdbcType=TINYINT},
      </if>
    </set>
    where SCHOOL_ID = #{schoolId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ddwx.cl.model.School" >
    update school
    set

      VIEW_BALANCE = #{viewBalance,jdbcType=INTEGER}

    where SCHOOL_ID = #{schoolId,jdbcType=BIGINT}
  </update>
</mapper>